# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
 branches:
   include:
     - main
     - master

pr:
 branches:
  include:
    - master
    - main
pool:
  vmImage: ubuntu-latest

steps:
- task: Cache@2
  displayName: Cache Maven ~/.m2/repository
  inputs:
    key: 'maven | "$(Agent.OS)" | **/pom.xml'
    path:  ~/.m2/repository
    restoreKeys: |
      maven | "$(Agent.OS)"
- task: Maven@3
  displayName: Build and run tests (Maven)
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.17'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'clean verify'
    options: -B
- task: PublishBuildArtifacts@1
  displayName: Publish build artifacts
  inputs:
      PathtoPublish: 'target'
      ArtifactName: 'drop'
      publishLocation: 'Container'
